@media only screen and (max-width: 1024px){
    .leftnav{
        flex-direction: column;
        
    }
    .navbar{
        flex-direction: column;
        height: 500px;
        transition: all 0.7s ease-out;
    }
    .rightnav{
        text-align: center;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;

    }
    .v-list-res{
        opacity: 0;
    }
    .h-nav-res{
        height: 72px;

    }
    .btnDark{
        width: 20%;
    }
    .mainBox{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .section{
        flex-direction:column-reverse
    }
    .smallText{
        text-align: center;
    }

    .bigText{
        text-align: center;
    }
    .button{
        text-align: center;
    }
    .paras{
        padding: 0px;
    }
} 
